<!DOCTYPE html>
<html lang="pl">
<head>
</head>
<body>
    <form method="POST">
        <h1>Kosci - wynik = {{wartosc}}</h1>
        <p>
            <input type="submit" name="answer" value="D6">
            <input type="submit" name="answer" value="D10">
            <input type="submit" name="answer" value="D100">
        </p>
         <p> Wybierz rzut (ręczny wpis ilość rodzaj modyfikator np 2D10+10):</p>
         <input type="text" name="answer">
         <input type="submit" value="Send">
    </form>
</body>